@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(imagens/fundocel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;

}

main {

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

section {
    background-color: #11151ae3;
    color: white;
    max-width: 380px;
    border-radius: 15px;
    padding: 20px;
    font-size: 1em;
    justify-content: center;
    text-align: center;
    


}



section h1 {
    font-size: 1.2em;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#botao {

    font-size: 1em;
    font-weight: bolder;
    background-color: rgb(228, 139, 6);
    padding: 10px;
    border-radius: 5px;
}

#botao:hover {
    background-color: black;
    color: white;
}

#res {
    padding: 10px;
}